<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tentang</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="tentang">
        <img class="portrait" src="/img/foto.png">
        <p>Nama: Budi Prasetyo <br>
            <br>
            NIM: 21343020 <br>
            <br>
            TTL: TEBO, 28 Mei 2003 <br>
            <br>
            Alamat: Tebo, Jambi <br>
            <br>
            Pendidikan: S1 Informatika <br>
            <br>
            Hobi: Voli, Badminton, dan MLBB <br>
        </p>
        </div>
    </div>
    {{>footer}}
</body>
</html>